<div class="center">
	<h1>Welcome to the event calendar</h1>
	<% unless signed_in? %>
	 	<div class="hero-unit">   
		    <h4>To use the calendar of events you need to register</h4>
		    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
</div>


