<div class="center">
	<h1>Welcome to the event calendar</h1>
	<% unless signed_in? %>
	 	<div class="hero-unit">   
		    <h4>To use the calendar of events you need to register</h4>
		    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		</div>
	<% else %>
		<section class="main">
			<div class="custom-calendar-wrap">
				<div id="custom-inner" class="custom-inner">
					<div class="custom-header clearfix">
						<nav>
							<span id="custom-prev" class="custom-prev"></span>
							<span id="custom-next" class="custom-next"></span>
						</nav>
						<h2 id="custom-month" class="custom-month"></h2>
						<h3 id="custom-year" class="custom-year"></h3>
					</div>
					<div id="calendar" class="fc-calendar-container"></div>
				</div>
			</div>
		</section>
	<% end %>
</div>



